.history-container {
    user-select: none;
    display: inline-block;
    width: 300px;
    height: 480px;
    border: 1px solid black;
    margin-left: 20px;

    .history-entry {
        font-size: 12px;
        font-family: Verdana, monospace;

        .timestamp {
            color: darkgrey;
        }
        .move {
            display: inline-block;
            margin-left: 5px;
        }
    }
}