.front {
    margin: 0;
    padding: 0;
    background-color: #ccc;

    label {

    }

    .nick-name {
        padding: 10px 0;
        border: 1px solid #444;
        outline: 0;
    }

    .start-game {
        padding: 10px 0;
        border: 1px solid #444;
        outline: 0;
    }
}